.App{
  background: aliceblue;
  max-width: 600px;
  margin: auto;
  padding: 10px 0px 50px 0px;

}
.heading{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.timer{
  justify-content: center;
  display: flex;
  align-items: center;
}
.hour, .seconds, .minutes{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}
.hour div , .seconds div , .minutes div{ 
display: flex;
margin-bottom: 10px;
}
.hour div div, .seconds div div, .minutes div div{
  background: #F6EAED;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
  font-size: 20px;
  color: red;
}
.dot{
  font-size: 30px;
  font-weight: 500;
  color: red;
  padding: 0px 5px;
  position: relative;
  top: -22px;
}
.btn{
  background: #1bacb8;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: navajowhite;
  font-size: 18px;
  box-shadow: 0px 0px 1px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  width: 100px;
  margin-right: 10px;
}
.btn:hover{
  box-shadow: 0px 0px 5px #9c8383;
  color: black;
}
.btn_container{
  display: flex;
  justify-content: center;
  margin-top: 30px;

}